{% extends 'base.html.twig' %}

{% block content %}
<div class="grid">
{% for comic in comics | sort((a, b) => a.metadata.last_update <=> b.metadata.last_update) %}
    <div class="comic">
        <h2>{{ comic.metadata.name }}</h2>
        <a href="?comic={{ comic.id }}">
            <img src="{{ comic.metadata.preview_small }}" alt="{{ comic.metadata.name }} cover page"/>
        </a>
        <div class="metadata">
            <span class="fi fi-{{ comic.metadata.language }}"></span>
            {{ comic.metadata.page_count }} pages ({{ comic.metadata.status }})<br>
            Tags: {{ comic.metadata.contentWarnings | join(', ') }}<br>
            <small>By {{ comic.metadata.members | join(', ') }}</small>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}