{% extends 'base.html.twig' %}

{% block content %}
<div class="grid">
{% for i in range(1, metadata.page_count) %}
<div class="page-preview">
    <a href="?comic={{ comic }}&page={{ i }}">
        <img src="comics/{{ comic }}/pages/{{ i }}.png" alt="{{ comic.metadata.name }} page {{ i }}"/>
    </a>
</div>
{% endfor %}
</div>
{% endblock %}