{% extends 'base.html.twig' %}

{% block content %}
<div id="banner">
    <a class="button" href="/"><span class="material-symbols-outlined">home</span></a>
</div>
<div id="header">
    <h1>{{ metadata.name }}</h1>
    <div class="grid">
        <a href="?comic={{ comic }}&page=1">
            <img src="{{ metadata.preview }}" alt="{{ metadata.name }} cover"/>
        </a>
        <div>
            <h2>Tags</h2>
            {{ metadata.contentWarnings | join(', ') }}
            <h2>Authors</h2>
            {{ metadata.members | join(', ') }}
            <h2>Others</h2>
            {{ metadata.page_count }} pages <span class="fi fi-{{ metadata.language }}"></span>
        </div>
    </div>
</div>
<div class="grid">
{% for i in range(1, metadata.page_count) %}
<div class="page-preview">
    <a href="?comic={{ comic }}&page={{ i }}">
        <img src="comics/{{ comic }}/pages/{{ i }}.{{ metadata.page_format }}" alt="{{ metadata.name }} page {{ i }}"/>
    </a>
</div>
{% endfor %}
</div>
{% endblock %}