{% extends 'base.html.twig' %}

{% block content %}
<div id="banner" class="line">
    <a class="button" href="/"><span class="material-symbols-outlined">home</span></a>
    <a class="button" href="?comic={{ comic }}"><span class="material-symbols-outlined">menu_book</span></a>
    <div class="center banner-mid">
        <button onclick="firstPage()"><span class="material-symbols-outlined">first_page</span></button>
        <button onclick="previousPage()"><span class="material-symbols-outlined">chevron_left</span></button>
        <button onclick="nextPage()"><span class="material-symbols-outlined">chevron_right</span></button>
        <button onclick="lastPage()"><span class="material-symbols-outlined">last_page</span></button>
    </div>
    <div class="center banner-right">
        <span id="page-current">{{ page }}</span>/<span id="page-count">0</span>
    </div>
</div>
<div class="center" id="page" data-name="{{ metadata.name }}" data-comic="{{ comic }}" data-count="{{ metadata.page_count }}" data-page="{{ page }}" data-formats="{{ metadata.page_format | join(";") }}">
    <img src="comics/{{ comic }}/pages/{{ page }}.{{ metadata.page_format[page - 1] }}" alt="Page {{ page }}"/>
</div>
{% endblock %}